{% extends 'base.html' %} 

{% block header %}
    <h1>{% block title %}Share a memory!{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
    
      <div class="share">
      <label for="caption">Use the form below to share an image and a caption. Once uploaded, the images and captions will appear in the <a href="gallery.html">"Remember When..." section.</a></label>
      </div>
    
      <div class="share"></div>
      <textarea type="text" name="file" id="caption"></textarea>
      </div>
    
      <div class="share"></div>
      <label for="upload" class="custom-upload">Upload image</label> 
      <input type="file" name="file" id="upload" accept="image/*" multiple></input> 
      </div>
    
      <div class="share"></div>
      <button type="submit" class="button">Submit!</button>
    </form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flashes">
    {% for message in messages %}
      <p class="flashed">{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>

{% endblock %}  