{% extends 'base.html' %} 

{% block header %}
    <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %} 

{% block content %} 
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title'] }}" required>
        <label for="body">Body</label>
        
        

        <form method="POST" action="" enctype="multipart/form-data">
    
            <div class="share">
            <label for="caption">Use the form below to share an image and a caption. Once uploaded, the images and captions will appear in the <a href="gallery.html">"Remember When..." section.</a></label>
            </div>
          
            <div class="share">
            <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
            </div>
          
            <div class="share">
            <label for="upload" class="custom-upload">Upload image</label> 
            <input type="file" name="file" id="upload" accept="image/*" multiple></input> 
            </div>
          
            <div class="share">
            <input type="submit" value="Save">
            </div>
    </form>
{% endblock %} 