{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Remember When...{% endblock %}</h1>
    {% if g.user %} 
        <a class="action" href="{{ url_for('blog.create') }}">New</a>
    {% endif %} 
{% endblock %} 

{% block content %} 
    {% for post in posts %} 
        <article class="post">
            <header>
                <div>
                    <h1>{{ post['title'] }}</h1>
                    <div class="about">by {{ post['username'] }}</div>
                </div>
                {% if g.user['id'] == post['author_id'] %} 
                    <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                {% endif %} 
            </header>
            <p class="body">{{ post['file_name'] }}</p>
            <p class="body">{{ post['body'] }}</p>
                
                        <p>Hello :)</p>
                        {% for image in images %}
                        <img src="{{ url_for('blog.upload', filename='363fa656ef5e4a5e8e3ed709d72a365f.png') }}">
                        {% endfor %}

                
        </article>
        {% if not loop.last %} 
            <hr>
        {% endif %} 
    {% endfor %} 
{% endblock %}